<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MissionPossible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>333015341D6E29CB00AF5C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3330154D1D6E29CC00AF5C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333015581D6E29CC00AF5C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
